@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
.heading1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
}

.heading2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
}

.heading3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

